.button {
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    margin: 5px;
  }
  
  .available{
    background-color: green;
    cursor: pointer;
  }
  .notAvailable{
    background-color: red;
    cursor: not-allowed;
  }

  .button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover:enabled span {
    padding-right: 25px;
  }

  .button:hover:enabled span:after {
    opacity: 1;
    right: 0;
  }

#HelpBlock{
    font-size: 19px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.span-title{
    color: blue;
}
 