<section *ngIf="userOrders">
  <!-- shows only if there is school obj from input -->

  <div id="header">
    <br>
    <h2 *ngIf="userOrders.length == 0">There are no orders.</h2>
    <h3 *ngIf="userOrders.length == 0">click on the order form to make your first order </h3>
    <br>
  </div>

  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Restaurant Name</th>
        <th scope="col">Order Date</th>
        <th scope="col">Order Confirmation</th>
        <th scope="col">Number Of Diners</th>
        <th scope="col">Cancel that order</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of userOrders; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{order.RestaurantName}}</td>
        <td>{{order.OrderDate | date:"dd-MM-yyyy"}}</td>
        <td>{{order.OrderId}}/{{order.TableNumber}}</td>
        <td>{{order.NumberOfDiners}}</td>
        <td>
          <input type="image" src="http://www.clker.com/cliparts/8/3/3/4/1195445190322000997molumen_red_round_error_warning_icon.svg.hi.png"
            alt="Cancel order" width="24" height="24" (click)="cancel(order.TableId)">
        </td>
      </tr>
    </tbody>
  </table>

</section>